/* #root {
  max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Aplica color verde a los enlaces activos */
.nav-link.active {
  color: green !important;
}

/* Cambiar el color en los dropdowns */
.nav-item.dropdown .dropdown-item.active {
  color: green !important;
}

/* Aplica el color verde al link en focus para una mejor accesibilidad */
.nav-link:focus, .dropdown-item:focus {
  color: green !important;
}

/* Asegurarte de que el contenido del navbar está centrado */
.navbar-collapse {
  text-align: center;
}

/* Centrar el contenido dentro de los dropdowns */
.custom-dropdown {
  text-align: center; /* Centrar el contenido de los enlaces */
}

/* Eliminar la flecha de Bootstrap */
.navbar-nav .dropdown-toggle::after {
  content: none; 
}

.dropdown-arrow {
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.dropdown-arrow.rotate {
    transform: rotate(180deg);
}

/* Estilo para el contenedor del enlace */
.nav-item .dropdown-item {
  position: relative;
  display: inline-flex;  /* Necesario para que los elementos dentro se alineen de forma flexible */
}

/* Contenedor del texto del enlace que se moverá */
.nav-item .dropdown-item .link-text {
  transition: transform 0.3s ease, font-weight 0.3s ease;  /* Animación para mover y poner en negrita */
}

/* Estilo para el texto adicional debajo del link */
.tooltip-text {
  opacity: 0;  /* Inicialmente invisible */
  visibility: hidden;  /* Ocultar el texto cuando no está visible */
  font-size: 0.9rem;
  color: #888;
  padding-top: 5px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  bottom: -20px;  /* Posicionar el texto debajo del link */
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;  /* Animación suave */
}

/* Estilo para la flecha que aparecerá a la derecha */
.arrow-icon {
  opacity: 0;  /* Inicialmente invisible */
  visibility: hidden;  /* Ocultar la flecha cuando no está visible */
  margin-left: 10px;
  font-size: 1.2rem;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;  /* Animación suave */
}

/* Hover sobre el link: mueve el texto y cambia a negrita */
.nav-item .dropdown-item:hover .link-text {
  transform: translateX(5px);  /* Mover el texto a la derecha */
  font-weight: bold;  /* Poner el texto en negrita */
}

.nav-item .dropdown-item:hover .tooltip-text {
  opacity: 1;  /* Hacer visible el texto */
  visibility: visible;  /* Hacer visible el texto */
  transition: opacity 0.3s ease, visibility 0s;  /* Animación suave */
}

.nav-item .dropdown-item:hover .arrow-icon {
  opacity: 1;  /* Hacer visible la flecha */
  visibility: visible;  /* Hacer visible la flecha */
  transform: translateX(5px);  /* Mover la flecha a la derecha */
  transition: opacity 0.3s ease, visibility 0s, transform 0.3s ease;  /* Animación suave */
}

/* Sobrescribir el color primary en Bootstrap */
:root {
  --bs-primary: #0089ad; /* Cambiar el valor de primary */
}

/* También puedes sobrescribir otros elementos si es necesario */
.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

/* Cambiar el color al hacer hover */
.btn-primary:hover {
  background-color: #006f7b; /* Color más oscuro para el fondo */
  border-color: #006f7b; /* Color más oscuro para el borde */
  color: white; /* Asegurarte de que el color del texto sea visible */
}

/* Si deseas también modificar el estado activo o enfocado del botón */
.btn-primary:active,
.btn-primary:focus {
  background-color: #006f7b; /* Color de fondo para el estado activo */
  border-color: #006f7b; /* Color de borde para el estado activo */
}

/* Define el color principal para btn-secondary */
.btn-secondary {
  background-color: #257226;
  border-color: #257226;
  color: #fff; /* Ajusta el texto para que contraste con el fondo */
}

/* Cambios en el estado hover */
.btn-secondary:hover {
  background-color: #1e5e1f;
  border-color: #1e5e1f;
  color: #fff; /* Opcional, ajusta si quieres otro color */
}

/* Cambios en el estado active */
.btn-secondary:active,
.btn-secondary:focus {
  background-color: #194c1a;
  border-color: #194c1a;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(37, 114, 38, 0.5); /* Un ejemplo de focus outline */
}

/* Cambiar el color base de bg-secondary */
.bg-secondary {
  background-color: #257226 !important;
  color: #fff; /* Ajusta el color del texto si es necesario */
}

/* Cambiar el color base de bg-light */
.bg-light {
  background-color: #7aa97a !important;
}

.btn-info {
  background-color: #99c942 !important;
  border-color: #99c942 !important;
  color: #fff !important; /* Asegúrate de que el texto sea legible */
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.show > .btn-info.dropdown-toggle {
  background-color: #86b236 !important; /* Un tono más oscuro para estados interactivos */
  border-color: #86b236 !important;
  color: #fff !important;
}

.btn-info:disabled,
.btn-info[disabled] {
  background-color: #c7dfa0 !important; /* Tono más claro para estado deshabilitado */
  border-color: #c7dfa0 !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Asegúrate de que los botones tengan un tamaño definido */
.carousel .btn {
  width: 3.5rem; /* Ajusta según el tamaño del botón */
  height: 3.5rem; /* Ajusta según el tamaño del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Elimina relleno interno */
  transition: box-shadow 0.2s ease-in-out; /* Efecto suave para hover */
}

/* Imagen dentro del botón */
.carousel .btn img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  pointer-events: none; /* Evita interferencia con eventos */
}

/* Estilo base para btn-danger */
.btn-danger {
  background-color: #25d366;
  border-color: #25d366;
  color: white;
}

/* Estado hover */
.btn-danger:hover {
  background-color: #20c85e; /* Color más oscuro al pasar el cursor */
  border-color: #1c9f54;
}

/* Estado focus (cuando el botón está seleccionado) */
.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(37, 211, 102, 0.5); /* Efecto de foco */
  background-color: #20c85e;
  border-color: #1c9f54;
}

/* Estado active (cuando el botón está presionado) */
.btn-danger:active, .btn-danger.active {
  background-color: #1c9f54;
  border-color: #178c47;
}

/* Estado disabled (cuando el botón está deshabilitado) */
.btn-danger:disabled, .btn-danger.disabled {
  background-color: #a8d8b9;
  border-color: #a8d8b9;
  color: #ccc;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
