#root {
 /* max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Aplica color verde a los enlaces activos */
.nav-link.active {
  color: green !important;
}

/* Cambiar el color en los dropdowns */
.nav-item.dropdown .dropdown-item.active {
  color: green !important;
}

/* Aplica el color verde al link en focus para una mejor accesibilidad */
.nav-link:focus, .dropdown-item:focus {
  color: green !important;
}

/* Asegurarte de que el contenido del navbar está centrado */
.navbar-collapse {
  text-align: center;
}

/* Centrar el contenido dentro de los dropdowns */
.custom-dropdown {
  text-align: center; /* Centrar el contenido de los enlaces */
}

/* Eliminar la flecha de Bootstrap */
.navbar-nav .dropdown-toggle::after {
  content: none; 
}

.dropdown-arrow {
    display: inline-block;
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.dropdown-arrow.rotate {
    transform: rotate(180deg);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
