.presenting-card {
  position: relative;
  background-color: #efefef;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  overflow: hidden; /* Evita que los elementos salgan fuera de los bordes */
  transition: transform 0.3s ease;
}

.presenting-card:hover {
  transform: scale(1.05); /* Hace un leve zoom al hacer hover */
}

.green-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0); /* Verde transparente inicialmente */
  transition: background-color 0.3s ease;
  z-index: 1; /* Asegura que la superposición esté encima del fondo */
}

.presenting-card:hover .green-overlay {
  background-color: rgba(0, 128, 0, 0.5); /* Verde con opacidad del 50% al hacer hover */
}

.card-texts {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Asegura que los textos estén encima de la superposición */
}

.card-text-bottom {
  position: absolute;
  bottom: 20px;
  left: 40px;
  color: white;
  font-size: 18px;
  font-weight: 800;
  /* display: flex !important;
  text-align: start !important;
  align-items: flex-start !important;
  justify-content: flex-start !important; */
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: inline-block; /* Asegura que el texto sea tratado como un bloque */
  text-shadow: 
    1px 1px 0px rgba(0, 0, 0, 0.6), /* Borde delgado a la derecha y abajo */
    -1px -1px 0px rgba(0, 0, 0, 0.6), /* Borde delgado a la izquierda y arriba */
    1px -1px 0px rgba(0, 0, 0, 0.6),  /* Borde delgado a la derecha y arriba */
    -1px 1px 0px rgba(0, 0, 0, 0.6);

    padding: 1px; /* Añadido para evitar que el texto se quede pegado al borde */
    background-color: rgba(128, 128, 128, 0.3); /* Fondo gris con opacidad */
    border-radius: 10px; /* Redondea las esquinas del fondo */
}

.transparent-background {
  padding: 10px; /* Añadido para evitar que el texto se quede pegado al borde */
  background-color: rgba(128, 128, 128, 0.6); /* Fondo gris con opacidad */
  border-radius: 10px; /* Redondea las esquinas del fondo */
}

.card-text-center {
  display: flex; /* Asegura la alineación entre texto y flecha */
  align-items: center; /* Centra verticalmente la flecha y el texto */
  gap: 2px; /* Espacio entre el texto y la flecha */
  color: white;
  font-size: 22px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.presenting-card:hover .card-text-bottom {
  opacity: 0;
  transform: translateY(-20px);
}

.presenting-card:hover .card-text-center {
  opacity: 1;
  transform: translateY(0);
}

.arrow-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0px;
}

.circle-arrow {
  width: 40px; /* Tamaño de la flecha ajustado para que sea proporcional */
  height: 37px;
  transition: transform 0.3s ease; /* Suave transición para la rotación */
}

.circle-background {
  transition: fill 0.3s ease; /* Suave transición para el cambio de color */
}

.arrow-circle:hover .circle-arrow {
  transform: rotate(-45deg) scale(1.1); /* Gira 45 grados y aumenta el tamaño */
}

.arrow-circle:hover .circle-background {
  fill: #fde101; /* Cambia el fondo del círculo al amarillo */
}

