/* Estilos para cuando el radio button está marcado */
.simplesearchbar input[type="radio"]:checked + label {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black !important;
  }
  